.main {
    padding-inline: var(--gap);

    &__layout {
        display: flex;
        gap: var(--gap);
    }
    
}

.catchphrase {
    margin-bottom: 130px;
    font-size: 50px;
    line-height: 1;
}

.main-sidebar {
    width: 500px;

    &__title {
        font-size: var(--font-xl);
    }
}

.main-content {
    flex:1;
}

.work {
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 10px;
    }
    
}

.project {
    &__thum {
        width: 100%;
        aspect-ratio: 16 / 9;
        background-color: var(--bk);
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-size: var(--font-md);
        font-weight: var(--medium);
    }
    
}