:root {
	/* font */
	--font-xl: 24px;
	--font-lg: 20px;
	--font-md: 14px;
	--font-sm: 12px;

    --regular : 400;
    --medium : 500;
    --bold : 600;

	/* line-height */
	--lh-xl: 1.25; /*30px*/
	--lh-lg: 1.4; /*28px*/
	--lh-md: 1.42; /*20px*/
	--lh-sm: 1.33; /*16px*/
	
	/* space */
	--gap: 48px;

	/* color */
	--bk : #111;
	--white : #ffffff;
	--gray: #d9d9d9;

	/* etc*/
	--sidewid: 500px;
}

$tablet :1500px;
$mobile : 880px;

/*tablet*/
@media screen and (max-width: $tablet) { 
	:root {
		--sidewid :360px;
		--gap:32px;
	}
} 
/*mobile*/
@media screen and (max-width: $mobile) { 
	:root {
		--gap:20px;
	}
}

body {
	font-family: 'my-font', sans-serif;
    font-size: var(--font-md);
    line-height: var(--lh-md);
    font-weight: var(--medium);
    color: var(--bk);
}


.hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.no-scroll {
	height:100%; 
	min-height:100%;
	overflow: hidden;
}

.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	&--close {
		background-image: url(/images/icon-arrow-diagonal.svg);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}