.dialog-viewer {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    background-color: transparent;
    padding: 48px var(--gap);

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &__container {
        width: 100%;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }


    &__inner {
        margin: 0 auto;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 1);
    }

    &__close {
        color: #fff;
        position: fixed;
        top: var(--gap);
        right: var(--gap);
        filter: invert(100%);
    }
}

/*tablet*/
@media screen and (max-width: $tablet) { 
    .dialog-viewer { 
        &__img {
            width: 100%;
        }
    }

} 
