.inner {
  width: 1400px;
  margin: 0 auto;

  &-text {
    width: 700px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: var(--regular);
    white-space: pre-line;
  }
}

.detail {
  &__img-wrap {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-bottom: 0;

    &--flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      // gap: 10px;
    }
  }
  
  &__img {
    display: block;
    width: 100%;
  }

  &-title {
    font-size: 35px;
    font-weight: var(--medium);
    line-height: 1;
    margin-bottom: 16px;
  }

  &-head {
    padding-top: 40px;
  }

  &-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 24px;
    font-weight: var(--medium);

    &__dl {
      display: flex;
      align-items: center;
    }

    &__dt {
      text-transform: uppercase;
      position: relative;
      margin-right: 16px;

      &:after {
        content: '\02BC';
        position: absolute;
        right: -6px;
        top: 0;
        transform: rotate(0deg);
        transform-origin: right 30%;
      }
    }

    &__dd {
      text-transform: capitalize;
    }
  }

  &-main {
    padding-block: 60px;

    &__img {
      display: block;
      height: 900px;
      object-fit: cover;
      // object-position: top;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      overflow: hidden;
    }
  }

  &__intro {
    padding-block: 50px;
  }

  &-sec {
    padding-block: 50px;

    &:first-child {
      padding-top: 0;
    }

    &--narrow {
      padding-block: 5px;
    }

    &__desc {
      padding-top: 50px;

      &-title {
        font-size: 15px;
        font-weight: var(--bold);
        margin-bottom: 10px;
      }
    }
  }
}

/*tablet*/
@media screen and (max-width: $tablet) {
  .inner {
    width: 100%;
  }
}

@media screen and (max-width: $mobile) {
  .inner {
    &-text {
      width: 100%;
    }
  }

  .detail {
    
    &-infos {
      flex-direction: column;
      align-items: start;
    }

    &-main {
      &__img {
        height: calc(100vh - 300px);
      }
    }

    &-sec {
      padding-block:20px;
      
      &--narrow {
        padding-block: 2px;
      }
    }
  }
}
