.detail-info {
  padding-left: 20px;

  &__dl {
    display: flex;
    align-items: center;
  }

  &__dt {
    text-transform: uppercase;
    position: relative;
    margin-right: 22px;

    &:after {
      content: '\02BC';
      position: absolute;
      right: -6px;
      top: 0;
      transform: rotate(0deg);
      transform-origin: right 30%;
    }
  }

  &__dd {
    text-transform: capitalize;
  }

  &__desc {
    margin-top: 32px;
    max-width: 338px;
    white-space: pre-line;
  }
}

.detail {
  &__img-wrap {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-bottom: 10px;

    &--flex {
      display: flex;
      // gap: 10px;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    object-position: top;

    &[src$=".gif"] {
      transform: scale(101%);
      transform-origin: center;
    }

    &[data-dialog="true"]{
      cursor: pointer;;
    }
  }
}

/*tablet*/
@media screen and (max-width: $tablet) { 

} 

/*mobile*/
@media screen and (max-width: $mobile) { 
  .detail-info {
    &__desc {
      max-width: 100%;
    }
  }

}