.detail-info {
    &__dl {
        display: flex;
        align-items: center;
    }

    &__dt {
        text-transform: uppercase;
    }

    &__dd {
        text-transform: capitalize;
    }
}

.detail {
    &__img {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        margin-bottom: 10px;
    }
}