.slogun {
  font-size: 60px;
  line-height: 1;
}

.work {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap) 10px;
  }
}

.project {
  &__link {
    display: block;
  }

  &__thum {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: var(--bk);
    overflow: hidden;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  &__thum:hover {
    .project__img {
      transform: scale(1.1);
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: var(--font-md);
    font-weight: var(--medium);
  }
}

/*tablet*/
@media screen and (max-width: $tablet) {
  .work {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }

  }
}

/*mobile*/
@media screen and (max-width: $mobile) {
  .slogun {
    font-size: 38px;
    max-width: 80vw;
  }
}