.header {
  padding: var(--gap);
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
}

.logo {
  width: 32px;
  height: 32px;
  overflow: hidden;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  &__img {
    width: 100%;
    height: 100%;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 28px;
  }

  &__link {
    text-decoration: underline;
  }
}

.btn-gnbmo {
  width: 28px;
  height: 28px;
  display: block;
  background: url('/images/icon-menu.svg') no-repeat center/100%;
  // display: none;
}

.gnbmo {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--bk);
  padding:36px;
  padding-top:380px;

  &.open {
    display: block;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    color:#fff;
    font-size:var(--font-xl);
    font-weight: var(--regular);
    text-decoration: underline;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    display: block;
    background: url('/images/icon-close.svg') no-repeat center/100%;
  }
  
}

/*tablet*/
@media screen and (max-width: $tablet) { 

} 
/*mobile*/
@media screen and (max-width: $mobile) { 
	.nav {
    display: none;
  }

  .gnbmo {
    padding-top: 280px;
  }

  // .btn-gnbmo {
  //   display: block;
  // }
}