.main {
  padding-inline: var(--gap);

  &__layout {
    display: flex;
    gap: var(--gap);
    padding-top: 130px;
  }
}

.main-sidebar {
  width: var(--sidewid);

  &__title {
    font-size: var(--font-xl);
    font-weight: var(--medium);
    margin-bottom: 32px;
  }
}

.main-container {
  flex: 1;
}
