.main {
  padding-inline: var(--gap);

  &-section {
    padding:40px 80px;
  }

  &__layout {
    padding-top: 50px;
    align-items: start;
    display: grid;
    grid-template-columns: var(--sidewid) auto;
    grid-template-areas: 'title contents';
    column-gap: var(--gap);
    transition: 0.2s;
  }
}

.main-sidebar {
  grid-area: title;
  position: sticky;
  height: fit-content;

  &__title {
    font-size: var(--font-xl);
    font-weight: var(--medium);
    margin-bottom: 32px;
  }
}

.sidebar-nav {
  font-size: var(--font-xl);
  font-weight: var(--medium);

  &__item {
    margin-bottom: 4px;
  }
}

.main-container {
  grid-area: contents;
}

/*tablet*/
@media screen and (max-width: $tablet) { 

} 
/*mobile*/
@media screen and (max-width: $mobile) { 
	.main {
    padding-bottom: var(--gap);

    &-section {
      padding: 20px 40px 0;
    }

    &__layout {
      display: block;
      padding-top: 60px;
    }
  }

  .main-sidebar {
    display: none;
    top: auto;
    margin-bottom: 48px;

    &__title {
      font-size: var(--font-lg);
      margin-bottom: 24px;

      &--mo-hidden {
        display: none;
      }
    }
  }
}