.main {
  padding-inline: var(--gap);

  &__layout {
    padding-top: 130px;
    display: grid;
    grid-template-columns: var(--sidewid) auto;
    grid-template-areas: 'title contents';
    column-gap: var(--gap);
    transition: 0.2s;
  }
}

.main-sidebar {
  grid-area: title;
  position: sticky;
  height: fit-content;
  top: 258px;

  &__title {
    font-size: var(--font-xl);
    font-weight: var(--medium);
    margin-bottom: 32px;
  }
}

.main-container {
  grid-area: contents;
}